html 
    head 
        title 404 Not Found 
    body
        div(style='display: flex;justify-content: center; align-items: center;flex-direction: column;')
            img(src='https://http.cat/404', width='50%')
            h1(style='text-align: center;') #{url} cannot be found.