html 
    head 
        title Coinmap Values 
    body 
        ol 
            for item of newResults 
                li 
                    ul 
                        li ID: #{item.id}
                        li Name: #{item.name}