#pokemonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pokemonDivButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h3 {
    padding: 0px;
    margin: 0px;
}

h4 {
    margin: 0px;
}

p {
    margin: 0px;
}