.calculatorBody {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculatorRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.calculatorButton {
    width: 18vw;
    height: min(calc(18vw / 2), 8vh);
    font-size: 3vh;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 2vh;
    margin-right: 2vw;
    cursor: pointer;
}

#resultString {
    font-size: calc(16vw / 2);
}

.historyButton {
    font-size: 200%;
    border: 5px solid black;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

#clearHistoryButton {
    font-size: 200%;
    border: 5px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: red;
    color: white;
}

#goBackButton {
    border: 1px solid black;
    border-radius: 20px;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

button:active {
    transform: scale(0.95);
}